import type { {{{ NAME.PASCAL }}} } from 'domains/{{{ DOMAIN.SINGULAR.KEBAB }}}/types/data-sources/{{{ NAME.PASCAL }}}';

export const {{ TYPE.PASCAL }}{{{ NAME.PASCAL }}}: {{{ NAME.PASCAL }}} = {
  // TODO: implement {{ TYPE.PASCAL }}{{{ NAME.PASCAL }}}
}
