import type { {{{ NAME.SINGULAR.PASCAL }}} } from 'domains/{{{ DOMAIN.SINGULAR.KEBAB }}}/types/services/{{{ NAME.SINGULAR.PASCAL }}}';

export const {{ TYPE.PASCAL }}{{{ NAME.SINGULAR.PASCAL }}}: {{{ NAME.SINGULAR.PASCAL }}} = {
  // TODO: implement {{ TYPE.PASCAL }}{{{ NAME.SINGULAR.PASCAL }}}
}
